#!/bin/bash

# Avoid script to work with undefined variables
set -u
  
# Handle control-c
function sigint {
    echo "User has canceled with control-c."
    # 130 is the standard exit code for SIGIN
    exit 130
}                                          

default_execute=0
default_recreate_table=0
default_user="{{ dba_toolkit_mysql_login_user }}"
default_trigger_types="INSERT,UPDATE,DELETE"
default_defaults_file="{{ dba_toolkit_mysql_defaults_file }}"
default_sql_prefix="history"

function usage() {
   echo "Syntax: $0 <schema> <table1> [table2] [table3]"
   echo "Optional parameters:"
   echo "    -C <defaults_cnf_file>          Use 'defaults_cnf_file' for db configuration. If not set, default value of '${default_defaults_file}' will be used."
   echo "    -u <user>                       User to login with. No other options supported, authsocket login is recommended. Default: ${default_user}"
   echo "                                    You can specify a defaults file that contains credentials and a host to log in to."
   echo "    -e                              Execute. Instead of printing the CREATE TABLE and CREATE TRIGGER commands, execute them to the server."
   echo "    -r                              Recreate table. The script does not migrate schema on new versions. Use this switch to recreate the table. The script does not rename or drop old tables with different name."
   echo "    -p <prefix>                     SQL object prefix. Default: ${default_sql_prefix}. Used to prefix the table name and the archive column names."
   echo "    -t <trigger types>              Which types of triggers to create. Default: ${default_trigger_types}. All other triggers created by the script will be deleted."
   echo "    -h                              Print this Help."
       
   exit 1
}

while getopts reC:u:p:ht: option; do
  case "$option" in
    C)  my_cnf_file="$OPTARG"
        ;;
    u)  user="$OPTARG"
        ;;
    p)  sql_prefix="$OPTARG"
        ;;
    t)  trigger_types="$OPTARG"
        ;;
    e)  execute=1
        ;;
    r)  recreate_table=1
        ;;
    h)  usage
        ;;
    *)  usage
        ;;
  esac
done

shift $((OPTIND - 1))
[ $# -lt 2 ] && usage


defaults_file="${defaults_file:-$default_defaults_file}"
execute="${execute:-$default_execute}"
recreate_table="${recreate_table:-$default_recreate_table}"
user="${user:-$default_user}"
sql_prefix="${sql_prefix:-$default_sql_prefix}"

[ -z ${trigger_types+x} ] && trigger_types=${default_trigger_types}
# convert trigger types to array
trigger_types=(${trigger_types//,/ })

# verify trigger types
valid_trigger_types=("INSERT" "UPDATE" "DELETE")
invalid_trigger_types=()
for trigger_type in "${trigger_types[@]}"; do
  trigger_type=${trigger_type^^}
  if [[ ! " ${valid_trigger_types[@]} " =~ " $trigger_type " ]]; then
    invalid_trigger_types+=($trigger_type)
  fi
done

if [ ${{ '{#' }}invalid_trigger_types[@]} -gt 0 ]; then
  echo "Invalid trigger types: ${invalid_trigger_types[@]}"
  usage
fi

schema="$1"
shift

mysql_read_execute() {
   mysql --defaults-file=${defaults_file} --user=${user@Q} $schema <<< "$1"
}
mysql_write_execute() {
   if [ "$execute" = 1 ]; then
      mysql --defaults-file=${defaults_file} --user=${user@Q} --delimiter="//" $schema <<< "$1" 
   else
      echo "$1"
   fi
}

if [ "$execute" != 1 ]; then
    action_word="Generate"
    echo "USE ${schema}"
    echo "DELIMITER //"
    echo "-- To create the table(s) and the triggers, add '-e' option to execute."
else
    action_word="Create"
fi


for table in "$@"; do
    echo "-- Fetching table information for $table"
    describe_table=$(mysql_read_execute "DESCRIBE $table"|tail -n+2)

    history_table="${sql_prefix}_${table}"

    if [ "$recreate_table" = 1 ]; then
        mysql_write_execute "DROP TABLE IF EXISTS ${history_table}"
    fi

    echo "-- Parsing the table information for later use and to construct the CREATE TABLE statement"
    create_table_sql="CREATE TABLE IF NOT EXISTS ${history_table} ("
    while IFS= read -r line; do
        column=$(echo "$line" | awk '{print $1}')
        column_type=$(echo "$line" | awk '{print $2}')
        create_table_sql+="$column $column_type, "
     done <<< "$describe_table"

    # Remove training comma
    create_table_sql=${create_table_sql%,}
    create_table_sql+="${sql_prefix}_changed_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, ${sql_prefix}_changed_by VARCHAR(255), ${sql_prefix}_change_type ENUM('INSERT', 'UPDATE', 'DELETE')"
    create_table_sql+=")//"

    echo "-- $action_word history table SQL"
    mysql_write_execute "$create_table_sql"

    for trigger_type in "INSERT" "UPDATE" "DELETE"; do
        trigger_name="trg_${table}_${trigger_type,,}"
        echo "-- Dropping trigger ${trigger_name} if it exists"
        mysql_write_execute "DROP TRIGGER IF EXISTS $trigger_name//"
    done

    # generate triggers
    for trigger_type in "${trigger_types[@]}"; do
    echo "-- $action_word ${trigger_type} trigger"
        trigger_name="trg_${table}_${trigger_type,,}"
        trigger_body="BEGIN INSERT INTO $history_table ("
        while IFS= read -r line; do
            column=$(echo "$line" | awk '{print $1}')
            trigger_body+="$column, "
        done <<< "$describe_table"
        trigger_body=${trigger_body%,};
        trigger_body+="changed_by, change_type) VALUES ("
        if [ "$trigger_type" = "INSERT" ] || [ "$trigger_type" = "UPDATE" ]; then
            row_prefix="NEW"
        else
            row_prefix="OLD"
        fi
        while IFS= read -r line; do
            column=$(echo "$line" | awk '{print $1}')
            trigger_body+="$row_prefix.$column, "
        done <<< "$describe_table"
        trigger_body=${trigger_body%,}; 
        trigger_body+="USER(), '$trigger_type'); END;"
        mysql_write_execute "CREATE TRIGGER $trigger_name AFTER $trigger_type ON $table FOR EACH ROW $trigger_body//"
    done
    done

[ "$execute" != 1 ] && echo "DELIMITER ;"
