#!/bin/bash

echo "WARNING WARNING WARNING! THIS SCRIPT WILL ERASE ALL DATA ON THE INSTANCE CONFIGURED (defaults file: {{ dba_toolkit_mysql_defaults_file }}"
echo "You have 30 seconds to ctrl+C"
sleep 30

# Replication does not convert the storage engine of tables that are created after setting up the BLACKHOLE replication initially.
# Therefore, just converting all new (or changed) tables to BLACKHOLE should fix any replication errors.
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_install_procedures_schema }} -e "SET sql_log_bin=0; CALL drop_all_constraints(1);"
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_install_procedures_schema }} -e "SET sql_log_bin=0; CALL convert_all_tables_storage_engine('BLACKHOLE', '${1:-mysql}', 1);"
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_install_procedures_schema }} -e "START ALL SLAVES"
