DELIMITER ;

SET sql_log_bin=0;

DROP FUNCTION IF EXISTS _get_next_optimize_table;
DROP PROCEDURE IF EXISTS mass_optimize_tables;

DELIMITER //

CREATE FUNCTION `_get_next_optimize_table`(_extra_exclude_schema VARCHAR(64) CHARACTER SET {{ dba_toolkit_metadata_charset }}, _schema_like VARCHAR(255) CHARACTER SET {{ dba_toolkit_metadata_charset }}, _table_like VARCHAR(255) CHARACTER SET {{ dba_toolkit_metadata_charset }}, _sequence_number INT) RETURNS char(255) CHARSET {{ dba_toolkit_metadata_charset }}
    DETERMINISTIC
RETURN (SELECT CONVERT(CONCAT("OPTIMIZE TABLE `", table_schema, "`.`", table_name, "`") USING "{{ dba_toolkit_metadata_charset }}") AS optimize_statement  FROM information_schema.tables WHERE table_type = "BASE TABLE" AND table_schema NOT IN ("mysql" COLLATE {{ dba_toolkit_metadata_collation }}, "performance_schema" COLLATE {{ dba_toolkit_metadata_collation }}, "information_schema" COLLATE {{ dba_toolkit_metadata_collation }}, _extra_exclude_schema COLLATE {{ dba_toolkit_metadata_collation }}) AND table_schema LIKE _schema_like COLLATE {{ dba_toolkit_metadata_collation }} AND table_name LIKE _table_like COLLATE {{ dba_toolkit_metadata_collation }} LIMIT _sequence_number, 1)
//

CREATE PROCEDURE mass_optimize_tables(IN _extra_exclude_schema VARCHAR(64) COLLATE {{ dba_toolkit_metadata_collation }}, IN _schema_like VARCHAR(255) COLLATE {{ dba_toolkit_metadata_collation }}, IN _table_like VARCHAR(255) COLLATE {{ dba_toolkit_metadata_collation }}, IN _execute TINYINT)
BEGIN

DECLARE _table_sequence INT;

SET _extra_exclude_schema=CONVERT(_extra_exclude_schema USING {{ dba_toolkit_metadata_charset }});
SET _schema_like=CONVERT(_schema_like USING {{ dba_toolkit_metadata_charset }});
SET _table_like=CONVERT(_table_like USING {{ dba_toolkit_metadata_charset }});

SELECT IF(_execute, "Running in EXECUTE mode, optimizing the tables as requested", "Running in CHECK mode, not optimizing any tables") AS status;

SET _table_sequence = 0;

_optimize_loop: LOOP
    SELECT _get_next_optimize_table(_extra_exclude_schema, _schema_like, _table_like, _table_sequence) INTO @optimize_query;
    SET @optimize_query=CONVERT(@optimize_query USING {{ dba_toolkit_metadata_charset }});

    IF (@optimize_query IS NULL) THEN
        LEAVE _optimize_loop;
    END IF;
    IF (_execute) THEN
        SELECT CONCAT("Optimizing table: ", @optimize_query) AS status;
        PREPARE optimize_table FROM @optimize_query;
        EXECUTE optimize_table;
    ELSE
        SELECT CONCAT("Not optimizing table: ", @optimize_query) AS status;
    END IF;
    SET _table_sequence = _table_sequence + 1;
END LOOP;

SELECT CONCAT("Done, OPTIMIZed all the requested tables. All tables not in system schema's and not in ", _extra_exclude_schema, " that match the LIKE statements of table_schema LIKE ", _schema_like, " and table_name LIKE ", _table_like, " have been OPTIMIZEd (assuming we were running in execute mode).") AS status;

END//

DELIMITER ;
