#!/bin/bash

mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} mysql -e "SET sql_log_bin=0; DROP FUNCTION IF EXISTS test_if_utf8mb4; DROP FUNCTION IF EXISTS test_if_utf8mb3;"

mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} mysql <<EOF
SET sql_log_bin=0;
CREATE FUNCTION test_if_utf8mb4() RETURNS CHAR(255) CHARACTER SET 'utf8mb4' DETERMINISTIC
RETURN (SELECT CONVERT(CONCAT("hello ", table_name) USING utf8mb4) FROM information_schema.tables WHERE table_schema="information_schema" COLLATE utf8mb4_unicode_ci LIMIT 1);
CREATE FUNCTION test_if_utf8mb3() RETURNS CHAR(255) CHARACTER SET 'utf8mb3' DETERMINISTIC
RETURN (SELECT CONVERT(CONCAT("hello ", table_name) USING utf8mb3) FROM information_schema.tables WHERE table_schema="information_schema" COLLATE utf8mb3_unicode_ci LIMIT 1);
EOF

mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} mysql -e "SELECT test_if_utf8mb4();" >/dev/null 2>&1
[ $? -eq 0 ] && echo "utf8mb4"
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} mysql -e "SELECT test_if_utf8mb3();" >/dev/null 2>&1
[ $? -eq 0 ] && echo "utf8mb3"

mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} mysql -e "SET sql_log_bin=0; DROP FUNCTION IF EXISTS test_if_utf8mb4; DROP FUNCTION IF EXISTS test_if_utf8mb3;"
